In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
registro_1 = pd.read_excel('df2.xlsx')
registro_2 = pd.read_excel('df2_seg.xlsx')

In [3]:
registro_2

,Unnamed: 0,rubro,articulo,cantidad,final,costo,neto,margen
0,1,aderezos (12),Ketchup Hellmanns x 250,4.00,66.00,4.500000e+01,66.000000,46.666667
1,2,aderezos (12),Ketchup Hellmans 60g,8.00,53.00,0.000000e+00,53.000000,0.000000
2,3,aderezos (12),Mayonesa BC oliva 250 cm3,1.00,10.00,7.140000e+00,10.000000,40.056022
3,4,aderezos (12),Mayonesa Hellmanns,40.00,494.00,3.297300e+02,494.000000,49.819549
4,5,aderezos (12),Mayonesa Hellmanns 125g,29.00,203.00,6.960000e+01,203.000000,191.666667
...,...,...,...,...,...,...,...,...
2063,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2064,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
2065,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
2066,2110,yerba (10),Total Rubro yerba,401.00,13263.50,9.253910e+03,13263.500000,43.328604
2067,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [4]:
registro_1

,Unnamed: 0,rubro,articulo,cantidad,final,costo,neto,margen
0,0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,1,aderezos (12),Chimichurri picante vanoli 190g,1.000000e+00,1.300000e+02,7.000000e+01,107.438000,53.482857
2,2,aderezos (12),Danica ketchup 220g,4.000000e+00,4.800000e+02,2.520000e+02,396.694400,57.418413
3,3,aderezos (12),dos ancas chimichurri 380gr,1.000000e+00,3.400000e+02,1.730000e+02,280.991700,62.422948
4,4,aderezos (12),Ketchup Hellmanns x 250,1.500000e+01,2.870000e+03,1.446000e+03,2371.900900,64.031874
...,...,...,...,...,...,...,...,...
1712,1712,yerba (10),Yerba verde flor Menta 500g,2.000000e+00,5.400000e+02,2.940000e+02,446.281000,51.796259
1713,1713,yerba (10),Yerba verdeflor boldo 500g,1.000000e+00,2.700000e+02,1.470000e+02,223.140500,51.796259
1714,1714,yerba (10),Yerba verdeflor hierbas serranas,1.000000e+00,2.700000e+02,1.470000e+02,223.140500,51.796259
1715,1715,yerba (10),Total Rubro yerba,2.040000e+02,6.991500e+04,2.931130e+04,58081.241300,98.153072
1716,1716,Total,NaN,7.872561e+09,2.992137e+09,6.506297e+09,117.446448,NaN

In [5]:
registro_1.rename(columns= {'Unnamed: 0': 'Index', 'Artículo': 'rubro', 'Cantidad': 'articulo', 'Final':'1','Costo':'2', 'Neto':'cantidad', 'Margen': 'final', 
          'Unnamed: 6':'costo', 'Unnamed: 7': 'neto', 'Unnamed: 8':'margen'}, inplace= True)
registro_2.rename(columns= {'Unnamed: 0': 'Index', 'Artículo': 'rubro', 'Cantidad': 'articulo', 'Final':'1','Costo':'2', 'Neto':'cantidad', 'Margen': 'final', 
          'Unnamed: 6':'costo', 'Unnamed: 7': 'neto', 'Unnamed: 8':'margen'}, inplace= True)

In [6]:
registro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     1717 non-null   int64
 1   rubro     1717 non-null   object
 2   articulo  1673 non-null   object
 3   cantidad  1674 non-null   float64
 4   final     1674 non-null   float64
 5   costo     1674 non-null   float64
 6   neto      1674 non-null   float64
 7   margen    1673 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 107.4+ KB

In [7]:
registro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2068 entries, 0 to 2067
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     2068 non-null   int64
 1   rubro     2068 non-null   object
 2   articulo  2067 non-null   object
 3   cantidad  2068 non-null   float64
 4   final     2068 non-null   float64
 5   costo     2068 non-null   float64
 6   neto      2068 non-null   float64
 7   margen    2067 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 129.4+ KB

In [8]:
reg_final = pd.concat([registro_1, registro_2 ], axis= 'index')

In [9]:
reg_final

,Index,rubro,articulo,cantidad,final,costo,neto,margen
0,0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,1,aderezos (12),Chimichurri picante vanoli 190g,1.00,130.00,7.000000e+01,107.438000,53.482857
2,2,aderezos (12),Danica ketchup 220g,4.00,480.00,2.520000e+02,396.694400,57.418413
3,3,aderezos (12),dos ancas chimichurri 380gr,1.00,340.00,1.730000e+02,280.991700,62.422948
4,4,aderezos (12),Ketchup Hellmanns x 250,15.00,2870.00,1.446000e+03,2371.900900,64.031874
...,...,...,...,...,...,...,...,...
2063,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2064,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
2065,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
2066,2110,yerba (10),Total Rubro yerba,401.00,13263.50,9.253910e+03,13263.500000,43.328604
2067,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [10]:
reg_final.reset_index()

,index,Index,rubro,articulo,cantidad,final,costo,neto,margen
0,0,0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,aderezos (12),Chimichurri picante vanoli 190g,1.00,130.00,7.000000e+01,107.438000,53.482857
2,2,2,aderezos (12),Danica ketchup 220g,4.00,480.00,2.520000e+02,396.694400,57.418413
3,3,3,aderezos (12),dos ancas chimichurri 380gr,1.00,340.00,1.730000e+02,280.991700,62.422948
4,4,4,aderezos (12),Ketchup Hellmanns x 250,15.00,2870.00,1.446000e+03,2371.900900,64.031874
...,...,...,...,...,...,...,...,...,...
3780,2063,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
3781,2064,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
3782,2065,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
3783,2066,2110,yerba (10),Total Rubro yerba,401.00,13263.50,9.253910e+03,13263.500000,43.328604
3784,2067,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [12]:
reg_final.insert(0, column= 'INDEX', value= range(0,3785,1))

In [13]:
reg_final.set_index('INDEX', inplace= True)

In [14]:
reg_final.replace('Cigarrillos (2)','cigarrillos', inplace= True)
reg_final.replace('Generico (1)','generico', inplace= True)
reg_final.replace('Golosinas (2)','golosinas', inplace= True)
reg_final.replace('Helados (1.504)','helados', inplace= True)
reg_final.replace('Krachitos','kranchitos', inplace= True)
reg_final.replace('Golosinas (3)','golosinas', inplace= True)
reg_final.replace('9327800004825','encendedores', inplace= True)

In [15]:
reg_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3785 entries, 0 to 3784
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     3785 non-null   int64
 1   rubro     3785 non-null   object
 2   articulo  3740 non-null   object
 3   cantidad  3742 non-null   float64
 4   final     3742 non-null   float64
 5   costo     3742 non-null   float64
 6   neto      3742 non-null   float64
 7   margen    3740 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 266.1+ KB

In [16]:
reg_final.drop(columns=['Index'], inplace= True)

In [17]:
reg_final

,rubro,articulo,cantidad,final,costo,neto,margen
INDEX,,,,,,,
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,aderezos (12),Chimichurri picante vanoli 190g,1.00,130.00,7.000000e+01,107.438000,53.482857
2,aderezos (12),Danica ketchup 220g,4.00,480.00,2.520000e+02,396.694400,57.418413
3,aderezos (12),dos ancas chimichurri 380gr,1.00,340.00,1.730000e+02,280.991700,62.422948
4,aderezos (12),Ketchup Hellmanns x 250,15.00,2870.00,1.446000e+03,2371.900900,64.031874
...,...,...,...,...,...,...,...
3780,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
3781,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
3782,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
3783,yerba (10),Total Rubro yerba,401.00,13263.50,9.253910e+03,13263.500000,43.328604
3784,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [139]:
reg_final.sort_values(by=['rubro'], inplace= True)

In [140]:
reg_final

,rubro,articulo,cantidad,final,costo,neto,margen
INDEX,,,,,,,
4179,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
726,Total Rubro Cigarrillos,NaN,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
2823,Total Rubro Cigarrillos,>>>,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
1458,Total Rubro Generico,NaN,7247.00,94663.85,5.411513e+04,94661.474400,74.926078
...,...,...,...,...,...,...,...
2095,yerba (10),NaN,NaN,NaN,NaN,NaN,NaN
2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2105,yerba (10),Yerba Rosamonte x 500g,2.00,62.00,4.205000e+01,62.000000,47.443520
4164,yerba (10),Botella termica taragui (termito),1.00,30.00,2.028000e+01,30.000000,47.928994
2104,yerba (10),Yerba Rosamonte suave x 250,3.00,69.00,4.461000e+01,69.000000,54.673840

In [141]:
reg_final.to_excel('df_sumados.xlsx')

In [142]:
reg_final

,rubro,articulo,cantidad,final,costo,neto,margen
INDEX,,,,,,,
4179,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
726,Total Rubro Cigarrillos,NaN,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
2823,Total Rubro Cigarrillos,>>>,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
1458,Total Rubro Generico,NaN,7247.00,94663.85,5.411513e+04,94661.474400,74.926078
...,...,...,...,...,...,...,...
2095,yerba (10),NaN,NaN,NaN,NaN,NaN,NaN
2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2105,yerba (10),Yerba Rosamonte x 500g,2.00,62.00,4.205000e+01,62.000000,47.443520
4164,yerba (10),Botella termica taragui (termito),1.00,30.00,2.028000e+01,30.000000,47.928994
2104,yerba (10),Yerba Rosamonte suave x 250,3.00,69.00,4.461000e+01,69.000000,54.673840