In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sb
import sqlalchemy as sa
from janitor import clean_names

In [2]:
df = pd.read_excel('1.xls')
df

,Artículo,Cantidad,Final,Costo,Neto,Margen,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Chimichurri picante vanoli 190g,NaN,NaN,1.000000,130.000000,70.0,107.4380,53.482857
2,NaN,Danica ketchup 220g,NaN,NaN,4.000000,480.000000,252.0,396.6944,57.418413
3,NaN,dos ancas chimichurri 380gr,NaN,NaN,1.000000,340.000000,173.0,280.9917,62.422948
4,NaN,Ketchup Hellmanns x 250,NaN,NaN,15.000000,2870.000000,1446.0,2371.9009,64.031874
...,...,...,...,...,...,...,...,...,...
1713,NaN,Yerba verdeflor boldo 500g,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1714,NaN,Yerba verdeflor hierbas serranas,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1715,Total Rubro yerba,204,6.991500e+04,2.931130e+04,58081.241300,98.153072,NaN,NaN,NaN
1716,Total,7.87256e+09,2.992137e+09,6.506297e+09,117.446448,NaN,NaN,NaN,NaN
1717,Fecha Impresión: 14/09/2022 03:20:36p.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = df.copy()

In [4]:
df2.columns

Index(['Artículo', 'Cantidad', 'Final', 'Costo', 'Neto', 'Margen',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [5]:
df2.rename(columns= {'Artículo': 'rubro', 'Cantidad': 'articulo', 'Final':'1','Costo':'2', 'Neto':'cantidad', 'Margen': 'final', 
          'Unnamed: 6':'costo', 'Unnamed: 7': 'neto', 'Unnamed: 8':'margen'}, inplace= True)
df2

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Chimichurri picante vanoli 190g,NaN,NaN,1.000000,130.000000,70.0,107.4380,53.482857
2,NaN,Danica ketchup 220g,NaN,NaN,4.000000,480.000000,252.0,396.6944,57.418413
3,NaN,dos ancas chimichurri 380gr,NaN,NaN,1.000000,340.000000,173.0,280.9917,62.422948
4,NaN,Ketchup Hellmanns x 250,NaN,NaN,15.000000,2870.000000,1446.0,2371.9009,64.031874
...,...,...,...,...,...,...,...,...,...
1713,NaN,Yerba verdeflor boldo 500g,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1714,NaN,Yerba verdeflor hierbas serranas,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1715,Total Rubro yerba,204,6.991500e+04,2.931130e+04,58081.241300,98.153072,NaN,NaN,NaN
1716,Total,7.87256e+09,2.992137e+09,6.506297e+09,117.446448,NaN,NaN,NaN,NaN
1717,Fecha Impresión: 14/09/2022 03:20:36p.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rubro     95 non-null     object
 1   articulo  1675 non-null   object
 2   1         44 non-null     float64
 3   2         44 non-null     float64
 4   cantidad  1674 non-null   float64
 5   final     1673 non-null   float64
 6   costo     1630 non-null   float64
 7   neto      1630 non-null   float64
 8   margen    1630 non-null   float64
dtypes: float64(7), object(2)
memory usage: 120.9+ KB

In [7]:
df2.isna().sum().sort_values(ascending = False)

2           1674
1           1674
rubro       1623
margen        88
neto          88
costo         88
final         45
cantidad      44
articulo      43
dtype: int64

In [8]:
clean_names(df2)

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Chimichurri picante vanoli 190g,NaN,NaN,1.000000,130.000000,70.0,107.4380,53.482857
2,NaN,Danica ketchup 220g,NaN,NaN,4.000000,480.000000,252.0,396.6944,57.418413
3,NaN,dos ancas chimichurri 380gr,NaN,NaN,1.000000,340.000000,173.0,280.9917,62.422948
4,NaN,Ketchup Hellmanns x 250,NaN,NaN,15.000000,2870.000000,1446.0,2371.9009,64.031874
...,...,...,...,...,...,...,...,...,...
1713,NaN,Yerba verdeflor boldo 500g,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1714,NaN,Yerba verdeflor hierbas serranas,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1715,Total Rubro yerba,204,6.991500e+04,2.931130e+04,58081.241300,98.153072,NaN,NaN,NaN
1716,Total,7.87256e+09,2.992137e+09,6.506297e+09,117.446448,NaN,NaN,NaN,NaN
1717,Fecha Impresión: 14/09/2022 03:20:36p.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df2.rubro.fillna(method='ffill', inplace= True)

In [10]:
df2

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aderezos (12),Chimichurri picante vanoli 190g,NaN,NaN,1.000000,130.000000,70.0,107.4380,53.482857
2,aderezos (12),Danica ketchup 220g,NaN,NaN,4.000000,480.000000,252.0,396.6944,57.418413
3,aderezos (12),dos ancas chimichurri 380gr,NaN,NaN,1.000000,340.000000,173.0,280.9917,62.422948
4,aderezos (12),Ketchup Hellmanns x 250,NaN,NaN,15.000000,2870.000000,1446.0,2371.9009,64.031874
...,...,...,...,...,...,...,...,...,...
1713,yerba (10),Yerba verdeflor boldo 500g,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1714,yerba (10),Yerba verdeflor hierbas serranas,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1715,Total Rubro yerba,204,6.991500e+04,2.931130e+04,58081.241300,98.153072,NaN,NaN,NaN
1716,Total,7.87256e+09,2.992137e+09,6.506297e+09,117.446448,NaN,NaN,NaN,NaN
1717,Fecha Impresión: 14/09/2022 03:20:36p.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
def correccion_datos(i):
    for i in range(len(df2)):
        df2.index.values[i]
        o = i -1
        if df2.iloc[i,0].startswith('Total Rubro '):
            df2.iloc[i,8] = df2.iloc[i,5]
            df2.iloc[i,7] = df2.iloc[i,4]
            df2.iloc[i,6] = df2.iloc[i,3]
            
def correccion_datos2(i):
    for i in range(len(df2)):
        df2.index.values[i]
        if df2.iloc[i,0].startswith('Total Rubro '):
            df2.iloc[i,5] = df2.iloc[i,2]
            df2.iloc[i,4] = df2.iloc[i,1]
            df2.iloc[i,3] = df2.iloc[i,2]

def correccion_datos3(i):
    for i in range(len(df2)):
        df2.index.values[i]
        o = i -1
        if df2.iloc[i,0].startswith('Total Rubro '):
            df2.iloc[i,2] = df2.iloc[o,2]
            df2.iloc[i,1] = df2.iloc[i,0]
            
def correccion_datos4(i):
    for i in range(len(df2)):
        df2.index.values[i]
        o = i -1
        if df2.iloc[i,0].startswith('Total Rubro '):
            df2.iloc[i,0] = df2.iloc[o,0]

In [12]:
df2.apply(correccion_datos)

rubro       None
articulo    None
1           None
2           None
cantidad    None
final       None
costo       None
neto        None
margen      None
dtype: object

In [13]:
df2.apply(correccion_datos2)

rubro       None
articulo    None
1           None
2           None
cantidad    None
final       None
costo       None
neto        None
margen      None
dtype: object

In [14]:
df2.apply(correccion_datos3)

rubro       None
articulo    None
1           None
2           None
cantidad    None
final       None
costo       None
neto        None
margen      None
dtype: object

In [15]:
df2.apply(correccion_datos4)
df2

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aderezos (12),Chimichurri picante vanoli 190g,NaN,NaN,1.000000,130.0,70.0,107.4380,53.482857
2,aderezos (12),Danica ketchup 220g,NaN,NaN,4.000000,480.0,252.0,396.6944,57.418413
3,aderezos (12),dos ancas chimichurri 380gr,NaN,NaN,1.000000,340.0,173.0,280.9917,62.422948
4,aderezos (12),Ketchup Hellmanns x 250,NaN,NaN,15.000000,2870.0,1446.0,2371.9009,64.031874
...,...,...,...,...,...,...,...,...,...
1713,yerba (10),Yerba verdeflor boldo 500g,NaN,NaN,1.000000,270.0,147.0,223.1405,51.796259
1714,yerba (10),Yerba verdeflor hierbas serranas,NaN,NaN,1.000000,270.0,147.0,223.1405,51.796259
1715,yerba (10),Total Rubro yerba,NaN,6.991500e+04,204.000000,69915.0,29311.3,58081.2413,98.153072
1716,Total,7.87256e+09,2.992137e+09,6.506297e+09,117.446448,NaN,NaN,NaN,NaN
1717,Fecha Impresión: 14/09/2022 03:20:36p.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
len(df2)
e = len(df2)-1
df2.drop(index = df2.index[e], inplace=True)

In [17]:
len(df2)
e = len(df2)-1

df2.iloc[e,7] = df2.iloc[e,4]
df2.iloc[e,6] = df2.iloc[e,3]
df2.iloc[e,5] = df2.iloc[e,2]
df2.iloc[e,4] = df2.iloc[e,1]
df2.iloc[e,3] = df2.iloc[e,2]
df2.iloc[e,1] = ''
df2.iloc[e,2] = ''
df2.iloc[e,8] = ''

In [18]:
df2

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aderezos (12),Chimichurri picante vanoli 190g,NaN,NaN,1.000000e+00,1.300000e+02,7.000000e+01,107.438000,53.4829
2,aderezos (12),Danica ketchup 220g,NaN,NaN,4.000000e+00,4.800000e+02,2.520000e+02,396.694400,57.4184
3,aderezos (12),dos ancas chimichurri 380gr,NaN,NaN,1.000000e+00,3.400000e+02,1.730000e+02,280.991700,62.4229
4,aderezos (12),Ketchup Hellmanns x 250,NaN,NaN,1.500000e+01,2.870000e+03,1.446000e+03,2371.900900,64.0319
...,...,...,...,...,...,...,...,...,...
1712,yerba (10),Yerba verde flor Menta 500g,NaN,NaN,2.000000e+00,5.400000e+02,2.940000e+02,446.281000,51.7963
1713,yerba (10),Yerba verdeflor boldo 500g,NaN,NaN,1.000000e+00,2.700000e+02,1.470000e+02,223.140500,51.7963
1714,yerba (10),Yerba verdeflor hierbas serranas,NaN,NaN,1.000000e+00,2.700000e+02,1.470000e+02,223.140500,51.7963
1715,yerba (10),Total Rubro yerba,NaN,6.991500e+04,2.040000e+02,6.991500e+04,2.931130e+04,58081.241300,98.1531
1716,Total,,,2.992137e+09,7.872561e+09,2.992137e+09,6.506297e+09,117.446448,

In [19]:
df2.drop(columns=['1','2'], inplace= True)

In [25]:
df2.to_excel('df2.xlsx')

In [21]:
df

,Artículo,Cantidad,Final,Costo,Neto,Margen,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Chimichurri picante vanoli 190g,NaN,NaN,1.000000,130.000000,70.0,107.4380,53.482857
2,NaN,Danica ketchup 220g,NaN,NaN,4.000000,480.000000,252.0,396.6944,57.418413
3,NaN,dos ancas chimichurri 380gr,NaN,NaN,1.000000,340.000000,173.0,280.9917,62.422948
4,NaN,Ketchup Hellmanns x 250,NaN,NaN,15.000000,2870.000000,1446.0,2371.9009,64.031874
...,...,...,...,...,...,...,...,...,...
1713,NaN,Yerba verdeflor boldo 500g,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1714,NaN,Yerba verdeflor hierbas serranas,NaN,NaN,1.000000,270.000000,147.0,223.1405,51.796259
1715,Total Rubro yerba,204,6.991500e+04,2.931130e+04,58081.241300,98.153072,NaN,NaN,NaN
1716,Total,7.87256e+09,2.992137e+09,6.506297e+09,117.446448,NaN,NaN,NaN,NaN
1717,Fecha Impresión: 14/09/2022 03:20:36p.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df2

,rubro,articulo,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,aderezos (12),Chimichurri picante vanoli 190g,1.000000e+00,1.300000e+02,7.000000e+01,107.438000,53.4829
2,aderezos (12),Danica ketchup 220g,4.000000e+00,4.800000e+02,2.520000e+02,396.694400,57.4184
3,aderezos (12),dos ancas chimichurri 380gr,1.000000e+00,3.400000e+02,1.730000e+02,280.991700,62.4229
4,aderezos (12),Ketchup Hellmanns x 250,1.500000e+01,2.870000e+03,1.446000e+03,2371.900900,64.0319
...,...,...,...,...,...,...,...
1712,yerba (10),Yerba verde flor Menta 500g,2.000000e+00,5.400000e+02,2.940000e+02,446.281000,51.7963
1713,yerba (10),Yerba verdeflor boldo 500g,1.000000e+00,2.700000e+02,1.470000e+02,223.140500,51.7963
1714,yerba (10),Yerba verdeflor hierbas serranas,1.000000e+00,2.700000e+02,1.470000e+02,223.140500,51.7963
1715,yerba (10),Total Rubro yerba,2.040000e+02,6.991500e+04,2.931130e+04,58081.241300,98.1531
1716,Total,,7.872561e+09,2.992137e+09,6.506297e+09,117.446448,

In [23]:
df2.isna().sum().sort_values(ascending = False)

margen      43
neto        43
costo       43
final       43
cantidad    43
articulo    43
rubro        0
dtype: int64

In [24]:
df2.isna().sum().value_counts(normalize= True)

43    0.857143
0     0.142857
dtype: float64