In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [124]:
registro_1 = pd.read_excel('df2.xlsx')
registro_2 = pd.read_excel('df2_seg.xlsx')

In [125]:
registro_2

,Unnamed: 0,rubro,articulo,cantidad,final,costo,neto,margen
0,1,aderezos (12),Ketchup Hellmanns x 250,4.00,66.00,4.500000e+01,66.000000,46.666667
1,2,aderezos (12),Ketchup Hellmans 60g,8.00,53.00,0.000000e+00,53.000000,0.000000
2,3,aderezos (12),Mayonesa BC oliva 250 cm3,1.00,10.00,7.140000e+00,10.000000,40.056022
3,4,aderezos (12),Mayonesa Hellmanns,40.00,494.00,3.297300e+02,494.000000,49.819549
4,5,aderezos (12),Mayonesa Hellmanns 125g,29.00,203.00,6.960000e+01,203.000000,191.666667
...,...,...,...,...,...,...,...,...
2063,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2064,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
2065,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
2066,2110,Total Rubro yerba,>>>,401.00,13263.50,9.253910e+03,13263.500000,43.328604
2067,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [126]:
registro_1

,Unnamed: 0,rubro,articulo,cantidad,final,costo,neto,margen
0,0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,1,aderezos (12),Ketchup Hellmanns x 250,4.00,66.00,4.500000e+01,66.000000,46.666667
2,2,aderezos (12),Ketchup Hellmans 60g,8.00,53.00,0.000000e+00,53.000000,0.000000
3,3,aderezos (12),Mayonesa BC oliva 250 cm3,1.00,10.00,7.140000e+00,10.000000,40.056022
4,4,aderezos (12),Mayonesa Hellmanns,40.00,494.00,3.297300e+02,494.000000,49.819549
...,...,...,...,...,...,...,...,...
2107,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2108,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
2109,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
2110,2110,Total Rubro yerba,NaN,401.00,13263.50,9.253910e+03,13263.500000,43.328604
2111,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [127]:
registro_1.rename(columns= {'Unnamed: 0': 'Index', 'Artículo': 'rubro', 'Cantidad': 'articulo', 'Final':'1','Costo':'2', 'Neto':'cantidad', 'Margen': 'final', 
          'Unnamed: 6':'costo', 'Unnamed: 7': 'neto', 'Unnamed: 8':'margen'}, inplace= True)
registro_2.rename(columns= {'Unnamed: 0': 'Index', 'Artículo': 'rubro', 'Cantidad': 'articulo', 'Final':'1','Costo':'2', 'Neto':'cantidad', 'Margen': 'final', 
          'Unnamed: 6':'costo', 'Unnamed: 7': 'neto', 'Unnamed: 8':'margen'}, inplace= True)

In [128]:
registro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2112 entries, 0 to 2111
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     2112 non-null   int64
 1   rubro     2112 non-null   object
 2   articulo  2023 non-null   object
 3   cantidad  2068 non-null   float64
 4   final     2068 non-null   float64
 5   costo     2068 non-null   float64
 6   neto      2068 non-null   float64
 7   margen    2067 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 132.1+ KB

In [129]:
registro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2068 entries, 0 to 2067
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     2068 non-null   int64
 1   rubro     2068 non-null   object
 2   articulo  2067 non-null   object
 3   cantidad  2068 non-null   float64
 4   final     2068 non-null   float64
 5   costo     2068 non-null   float64
 6   neto      2068 non-null   float64
 7   margen    2067 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 129.4+ KB

In [130]:
reg_final = pd.concat([registro_1, registro_2 ], axis= 'index')

In [131]:
reg_final

,Index,rubro,articulo,cantidad,final,costo,neto,margen
0,0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,1,aderezos (12),Ketchup Hellmanns x 250,4.00,66.00,4.500000e+01,66.000000,46.666667
2,2,aderezos (12),Ketchup Hellmans 60g,8.00,53.00,0.000000e+00,53.000000,0.000000
3,3,aderezos (12),Mayonesa BC oliva 250 cm3,1.00,10.00,7.140000e+00,10.000000,40.056022
4,4,aderezos (12),Mayonesa Hellmanns,40.00,494.00,3.297300e+02,494.000000,49.819549
...,...,...,...,...,...,...,...,...
2063,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2064,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
2065,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
2066,2110,Total Rubro yerba,>>>,401.00,13263.50,9.253910e+03,13263.500000,43.328604
2067,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [132]:
reg_final.reset_index()

,index,Index,rubro,articulo,cantidad,final,costo,neto,margen
0,0,0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,aderezos (12),Ketchup Hellmanns x 250,4.00,66.00,4.500000e+01,66.000000,46.666667
2,2,2,aderezos (12),Ketchup Hellmans 60g,8.00,53.00,0.000000e+00,53.000000,0.000000
3,3,3,aderezos (12),Mayonesa BC oliva 250 cm3,1.00,10.00,7.140000e+00,10.000000,40.056022
4,4,4,aderezos (12),Mayonesa Hellmanns,40.00,494.00,3.297300e+02,494.000000,49.819549
...,...,...,...,...,...,...,...,...,...
4175,2063,2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
4176,2064,2108,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
4177,2065,2109,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
4178,2066,2110,Total Rubro yerba,>>>,401.00,13263.50,9.253910e+03,13263.500000,43.328604
4179,2067,2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [133]:
reg_final.insert(0, column= 'INDEX', value= range(0,4180,1))

In [134]:
reg_final.set_index('INDEX', inplace= True)

In [135]:
reg_final.replace('Cigarrillos (2)','cigarrillos', inplace= True)
reg_final.replace('Generico (1)','generico', inplace= True)
reg_final.replace('Golosinas (2)','golosinas', inplace= True)
reg_final.replace('Helados (1.504)','helados', inplace= True)
reg_final.replace('Krachitos','kranchitos', inplace= True)
reg_final.replace('Golosinas (3)','golosinas', inplace= True)
reg_final.replace('9327800004825','encendedores', inplace= True)

In [136]:
reg_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4180 entries, 0 to 4179
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Index     4180 non-null   int64
 1   rubro     4180 non-null   object
 2   articulo  4090 non-null   object
 3   cantidad  4136 non-null   float64
 4   final     4136 non-null   float64
 5   costo     4136 non-null   float64
 6   neto      4136 non-null   float64
 7   margen    4134 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 293.9+ KB

In [137]:
reg_final.drop(columns=['Index'], inplace= True)

In [138]:
reg_final

,rubro,articulo,cantidad,final,costo,neto,margen
INDEX,,,,,,,
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN
1,aderezos (12),Ketchup Hellmanns x 250,4.00,66.00,4.500000e+01,66.000000,46.666667
2,aderezos (12),Ketchup Hellmans 60g,8.00,53.00,0.000000e+00,53.000000,0.000000
3,aderezos (12),Mayonesa BC oliva 250 cm3,1.00,10.00,7.140000e+00,10.000000,40.056022
4,aderezos (12),Mayonesa Hellmanns,40.00,494.00,3.297300e+02,494.000000,49.819549
...,...,...,...,...,...,...,...
4175,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
4176,yerba (10),Yerba union suavb,18.00,576.00,4.032000e+02,576.000000,42.857143
4177,yerba (10),Yerba Unión Suave,29.00,986.00,6.925200e+02,986.000000,42.378559
4178,Total Rubro yerba,>>>,401.00,13263.50,9.253910e+03,13263.500000,43.328604
4179,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN

In [139]:
reg_final.sort_values(by=['rubro'], inplace= True)

In [140]:
reg_final

,rubro,articulo,cantidad,final,costo,neto,margen
INDEX,,,,,,,
4179,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
726,Total Rubro Cigarrillos,NaN,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
2823,Total Rubro Cigarrillos,>>>,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
1458,Total Rubro Generico,NaN,7247.00,94663.85,5.411513e+04,94661.474400,74.926078
...,...,...,...,...,...,...,...
2095,yerba (10),NaN,NaN,NaN,NaN,NaN,NaN
2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2105,yerba (10),Yerba Rosamonte x 500g,2.00,62.00,4.205000e+01,62.000000,47.443520
4164,yerba (10),Botella termica taragui (termito),1.00,30.00,2.028000e+01,30.000000,47.928994
2104,yerba (10),Yerba Rosamonte suave x 250,3.00,69.00,4.461000e+01,69.000000,54.673840

In [141]:
reg_final.to_excel('df_sumados.xlsx')

In [142]:
reg_final

,rubro,articulo,cantidad,final,costo,neto,margen
INDEX,,,,,,,
4179,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
2111,Total,NaN,2473755.93,1089949.62,2.473650e+06,126.950856,NaN
726,Total Rubro Cigarrillos,NaN,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
2823,Total Rubro Cigarrillos,>>>,38162.00,705976.00,2.913215e+04,705936.570200,2323.221665
1458,Total Rubro Generico,NaN,7247.00,94663.85,5.411513e+04,94661.474400,74.926078
...,...,...,...,...,...,...,...
2095,yerba (10),NaN,NaN,NaN,NaN,NaN,NaN
2107,yerba (10),Yerba Union 500g,2.00,66.00,4.550000e+01,66.000000,45.054945
2105,yerba (10),Yerba Rosamonte x 500g,2.00,62.00,4.205000e+01,62.000000,47.443520
4164,yerba (10),Botella termica taragui (termito),1.00,30.00,2.028000e+01,30.000000,47.928994
2104,yerba (10),Yerba Rosamonte suave x 250,3.00,69.00,4.461000e+01,69.000000,54.673840