In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sb
import sqlalchemy as sa
from janitor import clean_names

In [2]:
df = pd.read_excel('2015.xls', na_values= 'NN')
df

,Artículo,Cantidad,Final,Costo,Neto,Margen,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ketchup Hellmanns x 250,NaN,NaN,4.000000,66.000000,45.00,66.0,46.666667
2,NaN,Ketchup Hellmans 60g,NaN,NaN,8.000000,53.000000,0.00,53.0,0.000000
3,NaN,Mayonesa BC oliva 250 cm3,NaN,NaN,1.000000,10.000000,7.14,10.0,40.056022
4,NaN,Mayonesa Hellmanns,NaN,NaN,40.000000,494.000000,329.73,494.0,49.819549
...,...,...,...,...,...,...,...,...,...
2108,NaN,Yerba union suavb,NaN,NaN,18.000000,576.000000,403.20,576.0,42.857143
2109,NaN,Yerba Unión Suave,NaN,NaN,29.000000,986.000000,692.52,986.0,42.378559
2110,Total Rubro yerba,401,13263.50,9.253910e+03,13263.500000,43.328604,NaN,NaN,NaN
2111,Total,2.47376e+06,1089949.62,2.473650e+06,126.950856,NaN,NaN,NaN,NaN
2112,Fecha Impresión: 30/12/2018 06:21:16a.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = df.copy()

In [4]:
df2

,Artículo,Cantidad,Final,Costo,Neto,Margen,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ketchup Hellmanns x 250,NaN,NaN,4.000000,66.000000,45.00,66.0,46.666667
2,NaN,Ketchup Hellmans 60g,NaN,NaN,8.000000,53.000000,0.00,53.0,0.000000
3,NaN,Mayonesa BC oliva 250 cm3,NaN,NaN,1.000000,10.000000,7.14,10.0,40.056022
4,NaN,Mayonesa Hellmanns,NaN,NaN,40.000000,494.000000,329.73,494.0,49.819549
...,...,...,...,...,...,...,...,...,...
2108,NaN,Yerba union suavb,NaN,NaN,18.000000,576.000000,403.20,576.0,42.857143
2109,NaN,Yerba Unión Suave,NaN,NaN,29.000000,986.000000,692.52,986.0,42.378559
2110,Total Rubro yerba,401,13263.50,9.253910e+03,13263.500000,43.328604,NaN,NaN,NaN
2111,Total,2.47376e+06,1089949.62,2.473650e+06,126.950856,NaN,NaN,NaN,NaN
2112,Fecha Impresión: 30/12/2018 06:21:16a.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2.columns

Index(['Artículo', 'Cantidad', 'Final', 'Costo', 'Neto', 'Margen',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [8]:
df2.rename(columns= {'Artículo': 'rubro', 'Cantidad': 'articulo', 'Final':'1','Costo':'2', 'Neto':'cantidad', 'Margen': 'final', 
          'Unnamed: 6':'costo', 'Unnamed: 7': 'neto', 'Unnamed: 8':'margen'}, inplace= True)

In [9]:
clean_names(df2)

,rubro,articulo,1,2,cantidad,final,costo,neto,margen
0,aderezos (12),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ketchup Hellmanns x 250,NaN,NaN,4.000000,66.000000,45.00,66.0,46.666667
2,NaN,Ketchup Hellmans 60g,NaN,NaN,8.000000,53.000000,0.00,53.0,0.000000
3,NaN,Mayonesa BC oliva 250 cm3,NaN,NaN,1.000000,10.000000,7.14,10.0,40.056022
4,NaN,Mayonesa Hellmanns,NaN,NaN,40.000000,494.000000,329.73,494.0,49.819549
...,...,...,...,...,...,...,...,...,...
2108,NaN,Yerba union suavb,NaN,NaN,18.000000,576.000000,403.20,576.0,42.857143
2109,NaN,Yerba Unión Suave,NaN,NaN,29.000000,986.000000,692.52,986.0,42.378559
2110,Total Rubro yerba,401,13263.50,9.253910e+03,13263.500000,43.328604,NaN,NaN,NaN
2111,Total,2.47376e+06,1089949.62,2.473650e+06,126.950856,NaN,NaN,NaN,NaN
2112,Fecha Impresión: 30/12/2018 06:21:16a.m.,Hoja 1 de 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df2.rubro.fillna(method='ffill', inplace= True)

In [99]:
def correccion_datosx(i):
     for i in range(len(df2)):
        df2.index.values[i]
        if df2.iloc[i,0].startswith('Total Rubro '):
            sd = {'rubro': df2.iloc[i,0], 'articulo': df2.iloc[i,1], '1': df2.iloc[i,2], 
                  '2': df2.iloc[i,3], 'cantidad': df2.iloc[i,4], 'final': df2.iloc[i,5], 
                  'costo': df2.iloc[i,6], 'neto': df2.iloc[i,7], 'margen': df2.iloc[i,8]}
        df2.append(sd, ignore_index= True)

In [98]:
def correccion_datosx(i):
    for i in range(len(df2)):
        df2.index.values[i]
        if df2.iloc[i,0].startswith('Total Rubro '):
            sd = {'rubro': df2.iloc[i-1,0], 'articulo': df2.iloc[i,0], '1': df2.iloc[i-1,2], 
                  '2': df2.iloc[i-1,3], 'cantidad': df2.iloc[i,1], 'final': df2.iloc[i,2], 
                  'costo': df2.iloc[i,3], 'neto': df2.iloc[i,4], 'margen': df2.iloc[i,5]}
        df2.append(sd, ignore_index= True)

In [179]:
dx = {}
for i in range(len(df2)):
    df2.index.values[i]
    if df2.iloc[i,0].startswith('Total Rubro '):
        dx.append({'rubro': df2.iloc[i-1,0], 'articulo': df2.iloc[i,0], '1': df2.iloc[i-1,2], 
                   '2': df2.iloc[i-1,3], 'cantidad': df2.iloc[i,1], 'final': df2.iloc[i,2], 
                   'costo': df2.iloc[i,3], 'neto': df2.iloc[i,4], 'margen': df2.iloc[i,5]}, ignore_index=True)

AttributeError: 'dict' object has no attribute 'append'

In [178]:
dx

{'rubro': 'yerba (10)',
 'articulo': 'Total Rubro yerba',
 '1': nan,
 '2': nan,
 'cantidad': 401,
 'final': 13263.5,
 'costo': 9253.91,
 'neto': 13263.5,
 'margen': 43.328603800987906}

In [141]:
ds = []
for i in range(len(df2)):
    df2.index.values[i]
    if df2.iloc[i,0].startswith('Total Rubro '):
        ds.append(i)
ds_ar = np.array(ds)

In [169]:
LO = []
for i in ds_ar:
    ghi = [df2.iloc[i-1,0],  df2.iloc[i,0],  df2.iloc[i-1,2], 
           df2.iloc[i-1,3],  df2.iloc[i,1],  df2.iloc[i,2], 
           df2.iloc[i,3],  df2.iloc[i,4], df2.iloc[i,5]]
    LO.append(ghi)

In [288]:
dit = ['rubro', 'articulo', '1', '2', 'cantidad', 'final', 'costo', 'neto', 'margen']
l = len(LO)

In [297]:
def cambio_nombre(x):
    kk = LO[x]
    DD = dict(zip(dit, kk))
    df2.append(DD, ignore_index= True)